<div class="container">
  <div class="row">
    <div class="col">
        <table>
            <tr>
              <td>
                <a href={{book.url}}>
                  <img class="cover" src="{{book.image}}">
                </a>
              </td>
              <td>
                <table>
                  <tr>
                    <td>
                      <h5 class="title" >{{book.title}}</h5>

                    <b>Author:</b>{{book.authors}}
                    <br>
                    <p>
                      <b>Bookstore</b> {{book.bookstore}}
                    </p>
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <table>
                  <tr>
                    <td>
                      <b class="price">{{book.price}}</b>
                      <h6 class="promotionPrice">{{book.promotionalPrice}}</h6>
                    </td>
                  </tr>
                </table>
              </td>
              <br>
            </tr>
          </table>
    </div>
    <div class="col">


    </div>
  </div>

</div>
