table,th, td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

table tr:hover td {
  background-color: rgb( 	205, 192, 176);
}

.title {
  font-style: italic;
}

.promotionPrice {
  color: red;
}

.href {
  color: #000000;
  text-decoration: none
}
