table tr td {
  border-bottom: 1px solid #ccc;
}
.title {
  font-style: italic;
}

.price {
  text-decoration: line-through;
  width: 10%;
}

.promotionPrice {
  width:150px;
  color: red;
}

.href {
  color: #000000;
  text-decoration: none
}

.cover {
  height: 60%;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.first {
  text-align: left;
}

.col {
  border: 2px;
  border-color: #000000;
  background: white;
}

.input {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
}

.row {
  border: 1px solid #ccc;
}

