<img src="/assets/img/logo.png">
<br>
<input [(ngModel)]="searchText" placeholder="search text goes here">
<select [(ngModel)]="searchCategory">
  <option value="title">Title</option>
  <option value="authors">Authors</option>
  <option value="price">Price</option>
  <option value="promotion">Promotion</option>
</select>
<br><br>
<table *ngIf='listOfBooks.length>0'>
  <tr>
    <th></th>
    <th></th>
    <th>TITLE</th>
    <th>AUTHORS</th>
    <th>PRICE</th>
    <th>PROMOTION</th>
    <th>BOOKSTORE</th>
    <th>LINK</th>
  </tr>
  <tr *ngFor="let book of listOfBooks | filter: searchText: searchCategory; let i = index" >
      <td>{{i}}</td>
      <td><img src="{{book.image}}"></td>
      <td class="title">{{book.title}}</td>
      <td>{{book.authors}}</td>
      <td>{{book.price}}</td>
      <td class="promotionPrice">{{book.promotion}}</td>
      <td>{{book.bookstore}}</td>
      <td><a href="{{book.url}}" class="href">Sprawdź</a></td>
  </tr>
</table>
